[Desktop Entry]
Name=Connected Home
Type=Application
Icon=file://opt/com.genivi.gdp.connectedhome/share/icons/com.genivi.gdp.connectedhome.svg
Unit=com.genivi.gdp.connectedhome
Exec=/opt/com.genivi.gdp.connectedhome/bin/qt-smart-demo -platform wayland
